<div class="login-container">
    <form *ngIf="!registerMode" (ngSubmit)="login()" #loginForm="ngForm">
        <h2>Login</h2>

        <!-- Email Input -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="credentials.email" #email="ngModel" required email
                class="form-control" />
            <div class="error" *ngIf="email.invalid && email.touched">
                Please enter a valid email.
            </div>
        </div>

        <!-- Password Input -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="credentials.password" #password="ngModel"
                required minlength="6" class="form-control" />
            <div class="error" *ngIf="password.invalid && password.touched">
                Password must be at least 6 characters long.
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">
            Login
        </button>
    </form>
    <form *ngIf="registerMode" (ngSubmit)="register()" #loginForm="ngForm">
        <h2>Register</h2>

        <div class="form-group">
            <label for="username">User name</label>
            <input type="text" id="name" name="username" [(ngModel)]="credentials.username" #name="ngModel" required
                username class="form-control" />

        </div>

        <!-- Email Input -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="credentials.email" #email="ngModel" required email
                class="form-control" />
            <div class="error" *ngIf="email.invalid && email.touched">
                Please enter a valid email.
            </div>
        </div>

        <!-- Password Input -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="credentials.password" #password="ngModel"
                required minlength="6" class="form-control" />
            <div class="error" *ngIf="password.invalid && password.touched">
                Password must be at least 6 characters long.
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">
            Register
        </button>
    </form>
    <div class="register">
        <a (click)="registerMode = !registerMode">
            {{ registerMode ? 'Already have an account?' : 'Don\'t have an account?' }}
        </a>
    </div>
</div>